<% include ./partials/header %>

<div class="ui main text container">

	<div class="ui huge header"><%= blog.title %></div>

	<div class="ui top attached segment">
		<div class="item">
			<img class="ui centered rounded image" src="<%= blog.image %>"></img>
			<div class="content">
				<span><strong><%= blog.created.toDateString() %></strong></span>
				<span>
					<p style="text-decoration: underline;">Submitted By
						<strong>
							<em>
									<%= blog.author.username %>
							</em>
						</strong>
				</span>
			</div>
			<div class="description">
				<p><%- blog.body%></p>
			</div>
			<% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
			<div style="padding: 15px;">
				<span style="margin-right: 200px;">
					<a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
				</span>
				<span style="margin-left: 270px;">
					<form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
						<button class="ui red basic button">Delete</button>
					</form>
				</span>
			</div>
			<% } %>
		</div>
	</div>

</div>

<% include ./partials/footer %>